.alert {
    padding: 20px;
    width: 300px;
    border: 2px solid rgb(33, 188, 216);
    color: black;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .alert-header{
      background-color: rgb(33, 188, 216);
      color: white;
       font-weight: bold;
      display: flex;
      justify-content: center;
  }
  .closebtn{
     border: 5px solid rgb(33, 188, 216);
      color: rgb(33, 188, 216);
      border-style: none;
       padding: 10px;
  }
  .ok{
    background-color: lightblue;
    color: white;
    font-weight: bold;
    border-style: none;
     padding: 10px; 
  }
  
